@charset "utf-8";
/* CSS Document */
@media screen and (max-device-width: 480px){img{max-width:100%;height:auto;}}
body { color:#595757; font-size:1em; line-height:1.5em; text-align:center; background-image:-webkit-gradient(linear,left top,right top,color-stop(0,#0c333e),color-stop(0.49,#164d5b),color-stop(0.5,#164d5b),color-stop(1,#0c333e));}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin:0; padding:0;}
ul,li { list-style-type:none;}
img { border:none; outline:none;}
a { outline:none; blr:expression(this.onFocus=this.blur());}

.block { display:block;}
.none { display:none;}
.opacity0 { opacity:0;}
.left { float:left;}
.right { float:right;}

.top { width:100%; max-width:640px;}
.cont { width:100%; max-width:640px;}
.bottom { width:100%; max-width:640px;}
.index_btn { width:100%;}
.index_btn li { float:left; width:100%;}
.top img,.banners img,.index_btn img,.bottom img { width:100%;}
.img_home { width:100%; position:absolute; top:0; left:0; display:none;}

.nav,.nav1 { width:100%; position:relative; z-index:0; background:url(../images/nav_bg.gif) center top repeat-x; background-size:auto 100%; overflow:hidden;}
.nav ul,.nav1 ul { width:100%; height:100%; position:absolute; z-index:10; top:0; left:0;}
.nav li,.nav1 li { float:left; width:20%; height:100%; text-align:center; position:relative;}
.nav li img,.nav1 li img { display:inline-block;}
.nav li .none,.nav1 li .none { display:none;}
.nav li a,.nav1 li a { height:100%; display:block;}
.nav .nav_on,.nav1 .nav_on1 { width:20%; height:100%; position:absolute; z-index:1; top:0; left:0; background:url(../images/nav_on.png) center top no-repeat; background-size:90% 100%; -webkit-transition:-webkit-transform 500ms ease-in-out;}
.nav1 { position:fixed; z-index:10; left:0; top:50px; display:none;}
.btn_fudong { width:14.4%; max-width:92px; position:fixed; z-index:11; top:-25px; right:0;/* opacity:0; display:none;*/}
.btn_fudong img { width:100%; width:100%;}

.subnav { width:100%; height:50px; position:relative; z-index:0; background:url(../images/subnav_bg.png) center top repeat-x; background-size:auto 100%; overflow:hidden;}
.subnav .jiantou { height:30%; vertical-align:middle;}
.subnav ul { float:left; width:100%; height:100%; position:relative; z-index:10; top:0; left:0;}
.subnav li { float:left; width:33.33%; height:100%; line-height:50px; color:#164c5b; text-align:center; position:relative; z-index:11;}
.subnav .active { color:#fff;}
.subnav .subnav_on { width:33.33%; height:100%; position:absolute; z-index:-1; top:0; left:0; background:url(../images/subnav_on.png) center bottom no-repeat; background-size:92% 100%; -webkit-transition:-webkit-transform 500ms ease-in-out; -webkit-transform:translate3d(0px, 0px, 0px);}
#tuijian_nav,#redian_nav {}
#tuijian_nav li,#redian_nav li { width:50%;}
#tuijian_nav .subnav_on,#redian_nav .subnav_on { width:50%;}

#mylike_nav li:first-child,#myhuodong_nav li:first-child { width:27%;}
#mylike_nav li:nth-child(2),#myhuodong_nav li:nth-child(2) { width:46%; border-left:2px solid #416b77; border-right:2px solid #416b77; font-size:120%;}
#mytaolun_nav li:first-child { width:26%;}
#mytaolun_nav li:nth-child(2),#mytaolun_nav li:nth-child(3) { width:37%;}
#mytaolun_nav .subnav_on { width:37%;}

.banners { width:100%; overflow:hidden;}
.banners img { display:block;}
.banners ul { width:400%; -webkit-transition:-webkit-transform 500ms ease-in-out; -webkit-transform:translate3d(0px, 0px, 0px);}
.banners li { float:left; width:25%;}

.pubu { float:left; width:100%; border-top:2px solid #6d7478; border-bottom:2px solid #6d7478; background:#dde2e6;}
.pubu ul { float:left; width:50%; background:#dde2e6;}
.pubu ul a { text-decoration:none;}
.pubu li { float:left; width:92%; padding-bottom:5px; margin:0 0 10px 4%; background:#ecf1f4;/* -webkit-box-shadow:#c3c7cb -3px 0 6px,#c3c7cb 3px 3px 6px;*/}
/*.pubu li:nth-child(2n-1) { clear:both;}*/
.pubu li .pic { background:#fff; padding:4%; width:92%; display:block;/* -webkit-box-shadow:#c3c7cb 0 1px 6px;*/}
.pubu li .div { position:relative;}
.pubu li .face { float:left; margin:6px 0 0 4%; width:15%; max-width:40px;}
.pubu li .text { float:left; padding:6px 0 0 2px; text-align:left; line-height:120%; font-size:80%; color:#595757;}
.pubu li .num { font-size:60%;}
.pubu li .plnum { position:absolute; top:6px; right:4%; width:11%; max-width:30px; line-height:100%; font-size:60%; color:#fabb0c; text-align:center;}
.pubu li .plnum img { width:100%;}
.pubu li .picname { text-align:left; padding-left:4%;}

.fabiao { width:100%; padding:8px 0; text-align:left; overflow:hidden;}
.fabiao .face { float:left; width:8.8%; max-width:56px; margin-left:3.1%; border:2px solid #fff; border-radius:2px;}
.fabiao .fayan { float:left; width:80.2%; max-width:513px; height:100%; margin-left:3%; background:url(../images/fayan.png) no-repeat; background-size:100% 100%; color:#9fa0a0; font-size:80%; text-indent:4%;}
.hots { width:100%; border-top:2px solid #6d7478; border-bottom:2px solid #6d7478;}
.hots ul { float:left; width:100%; background:#f7faf9;}
.hots li { float:left; width:100%; color:#4c4948; font-weight:bold; text-align:left; border-bottom:2px solid #e2e4e3; padding-bottom:.5em;}
.hots li:last-child { border:0;}
.hots li a { text-decoration:none;}
.hots li .face { float:left; margin:10px 0 0 2.2%; width:10.3%; border-radius:.1em; -webkit-box-shadow:#000 1px 1px 6px;}
.hots li .div { float:left; width:82%; padding-top:10px; margin-left:3%; position:relative;}
.hots li .div a { color:#4c4948;}
.hots li .div .img { max-width:98%; padding:8px; background:#fff; margin-top:8px;}
.hots li .name { color:#164c5b; font-size:120%;}
.hots li .from { color:#c7c7c7; font-size:80%;}
.hots li .plnum {/* position:absolute; top:8px; right:0; width:100%;*/ color:#727171; font-size:80%; text-align:right; vertical-align:middle; float:right;}
.hots li .plnum img { padding:0; margin-top:0; width:5.8%; max-width:30px; vertical-align:middle;}
.hots li .plnum1 { color:#174b59; text-decoration:none;}
.hots li .plnum1 img { vertical-align:middle;}
.hots li .div .a_zf { color:#164c5b; text-decoration:none; float:right; margin-left:8px;}

.hots li .div .yinyong { background:#efefef; border:1px solid #e2e4e3; border-radius:.5em; padding:.5em; margin-bottom:.5em;}

.dipan_info { width:100%; padding:10px 0; text-align:left; overflow:hidden; background:#fff;}
.dipan_info .face { float:left; width:10.3%; max-width:66px; margin-left:3%;}
.dipan_info .jifen { float:left; width:78%; max-width:500px; margin-left:5%; font-size:80%; line-height:120%;}
.dipan_info .jifen .strong { font-size:120%;}
.dipan_info .jifen span { color:#fabb0c; font-size:120%; font-weight:bold;}
.dipan_nav { width:100%; padding:20px 0; overflow:hidden;}
.dipan_nav ul { float:left; width:94%; margin-left:3%;}
.dipan_nav li { float:left; width:100%; padding:.8em 0; border-bottom:1px solid #e9e9e9; text-align:left; text-indent:1.5em; background:#fff url(../images/right.png) 90% center no-repeat; background-size:auto 50%;}
.dipan_nav li:first-child { -webkit-border-top-left-radius:.5em; -webkit-border-top-right-radius:.5em;}
.dipan_nav li:nth-last-child(2) { -webkit-border-bottom-left-radius:.5em; -webkit-border-bottom-right-radius:.5em;}
.dipan_nav li:last-child { border-radius:.5em; margin-top:.5em;}
.dipan_nav li a { float:left; width:100%; height:100%; color:#58595b; font-weight:bold; text-decoration:none;}
.dipan_nav li[checked] { background-image:url(../images/right_on.png);}
.dipan_nav li[checked] a { color:#fabb0c;}
.dipan_nav li .icon { width:9%; max-width:54px; vertical-align:middle;}

.loading { width:16px; height:16px; position:fixed; z-index:1001; top:50%; left:50%; margin-top:-8px; margin-left:-8px; display:none;}
.mask { width:100%; height:100%; background:#000; opacity:0.5; position:fixed; z-index:1000; top:0; left:0; display:none;}
.zhuanfa { width:82%; max-width:522px; padding:10px; background:rgba(0,0,0,0.4); position:fixed; z-index:1001; left:9%; top:0; color:#4c4948;}
.zhuanfa .zhuanfa_title { width:100%; height:56px; min-height:40px; line-height:56px; vertical-align:middle; color:#164c5b; text-align:left; text-indent:2em; background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#e9eaeb),color-stop(1,#a8aaad)); margin-bottom:1px; position:relative;}
.zhuanfa .zhuanfa_title .btn_close { width:40px; height:100%; text-align:center; position:absolute; top:0; right:0; background:url(../images/btn_close.png) center center no-repeat;}
.zhuanfa .zhuanfa_cont,.zhuanfa .zhuanfa_btns { float:left; width:98%; padding:1%; background:#e1e2e3;}
.zhuanfa .zhuanfa_yuanwen { width:96%; padding:5px 2%; border:1px solid #aaabac; border-radius:5px; text-align:left;}
.zhuanfa .zhuanfa_btns { padding:.5em 1%; vertical-align:middle; height:48px; line-height:48px; font-size:120%;}
.zhuanfa .zhuanfa_btns img { vertical-align:middle;}
.zhuanfa .zhuanfa_btns .btn_clear { color:#164c5b; text-decoration:none;}
.zhuanfa .zhuanfa_btns .left { width:10%; max-width:48px;}
.zhuanfa .zhuanfa_btns .right { width:24%; max-width:120px;}
.zhuanfa textarea { width:96%; height:90px; padding:5px 2%; overflow-y:auto; border:1px solid #ccc; border-radius:5px;}

.pictie { width:100%; padding-bottom:25px; overflow:hidden; background:#f7faf9; text-align:left; color:#4c4948;}
.pictie .peitu { width:100%;}
.pictie .pictie_c { position:relative; padding-bottom:.5em; margin-top:-1em; overflow:hidden;}
.pictie .pictie_c .louzhu { float:left; width:100%; text-align:left; color:#1882b8; position:relative;}
.pictie .pictie_c .face { width:8.75%; max-width:56px; padding:0.9%; margin-left:2.5%; margin-right:1.5%; background:#fff; vertical-align:bottom;}
.pictie .pictie_c .plnum { position:absolute; bottom:0; right:8px; width:100%; color:#fabb0c; text-align:right; vertical-align:middle;}
.pictie .pictie_c .plnum img { padding:0; margin-top:0; width:5.8%; max-width:30px; vertical-align:middle;}
.pictie .pictie_c .louzhu_txt { float:left; padding-left:14.55%; width:85.45%}
.pictie .pictie_c .from { color:#727171; font-size:80%; padding-right:8px;}
.pictie .pictie_c .a_zf { color:#164c5b; text-decoration:none; float:right; margin-right:8px;}
.pictie .pictie_c a { text-decoration:none;}
.pictie .pictie_nav { width:100%; height:53px; line-height:53px; background:url(../images/pictie_navbg.gif) left center repeat-x;}
.pictie .pictie_nav ul { width:100%; height:100%;}
.pictie .pictie_nav li { float:left; margin-left:2.5%; width:25%; height:100%; text-align:center; color:#174b59;}
.pictie .pictie_nav .active { background:url(../images/pictie_nav.gif) center center no-repeat; background-size:100% 100%;}
.pictie .pictie_hf { width:100%;}
.pictie .pictie_hf ul { width:100%;}
.pictie .pictie_hf li { float:left; width:95%; padding:.5em 2.5%; border-bottom:2px solid #bbbdbc;}
.pictie .pictie_hf li:last-child { border-bottom:0;}
.pictie .pictie_hf .face { float:left; width:8.3%; max-width:53px; margin-right:2.5%;}
.pictie .pictie_hf .neirong { float:left; width:75%;}
.pictie .pictie_hf .time { float:right; text-align:right; font-size:80%;}
.pictie .pictie_hf .blue { color:#164c5b; text-decoration:none;}

#huodong_nav {}
.huodong_c { width:100%; position:relative;}
.huodong_c img { width:100%;}
.huodong_c .num { position:absolute; top:28%; left:3.5%; width:50%; max-width:230px; text-align:left; color:#fff;}
.huodong_c .num strong { color:#f5a200; font-weight:normal;}
.huodong_c .btn_guanzhu { width:50%; position:absolute; top:1.5em; left:4%;}

.myhuodong { width:100%; background:#f7faf9; overflow:hidden;}
.myhuodong ul { float:left; width:45%; margin-left:3.3%;}
.myhuodong ul img { width:100%; margin-bottom:12px; display:block;}
.myhuodong li { float:left; width:100%; padding:.5em 0; border-bottom:2px solid #bbbdbc; background:#f7faf9 url(../images/right.png) 92% center no-repeat; text-align:left; color:#000; font-size:120%;}
.myhuodong li .ison { color:#174b59; font-size:80%;}
.myhuodong li .isover { color:#727171; font-size:80%;}
.myhuodong li div { padding-left:5%;}

#myjifen_nav {}
#myjifen_nav li { width:25%;}
#myjifen_nav .subnav_on { width:25%;}
.myjifen { width:100%;}
.myjifen ul { width:100%;}
.myjifen li { float:left; width:94%; padding:.5em 3%; position:relative; background:#f7faf9; border-bottom:2px solid #bbbdbc;}
.myjifen li .pic { float:left; width:30%; max-width:180px;}
.myjifen li .info { float:left; padding-left:3.3%; text-align:left; color:#174b59;}
.myjifen li .name { color:#000; font-size:120%;}
.myjifen li .fenshu { color:#174b59; font-size:120%; font-weight:bold;}
.myjifen li a.duihuan { width:28%; max-width:124px; padding:.5em .3em; background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fed93d),color-stop(1,#eb9e12)); border:1px solid #a56e0d; border-radius:.5em; color:#fff; -webkit-text-shadow:0px -1px 2px #000; text-decoration:none; display:block; position:absolute; right:3%; bottom:.5em;}
.myjifen li a.duihuan1 { background:#81858b; border:1px solid #81858b;}

.myziliao { float:left; width:100%; background:#dde2e6; padding-bottom:1em; text-align:left;}
.myziliao .span { color:#174b59; display:inline-block; padding:.5em 0 .5em 3%;}
.myziliao label { float:left; width:100%; padding:.3em 0; color:#000; text-indent:3%;}
.myziliao .select { width:70%; max-width:188px; height:2em; line-height:2em; border:0; background:url(../images/select_bg.png) left center no-repeat; background-size:100% 100%; text-indent:.5em; display:inline-block; margin-left:1.5%;}
.myziliao .input { width:60%; height:2em; line-height:2em; border:1px solid #ccc; border-radius:.5em; -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.3),1px 1px 5px rgba(0,0,0,.3) inset;}
.myziliao .textarea { height:5em; vertical-align:top;}
.myziliao .btn_submit { border:1px solid #fff; border-radius:.5em; background:#fff; -webkit-box-shadow:0px 1px 2px rgba(0,0,0,1); padding:.5em; 0; width:94%; margin-left:3%; margin-top:1em; color:#174b59; font-size:1.2em;}
.citys { position:absolute; width:60%; height:10em; overflow:hidden; display:none;}
.citys ul { float:left; -webkit-transform:translate3d(0px, 0px, 0px); -webkit-transition:-webkit-transform 500ms ease-in-out;}
.citys li { float:left; width:55%; height:2em; line-height:2em; background:rgba(255,255,255,.8); text-indent:.5em;}

.jiaoyin { width:15%; max-width:70px; position:fixed; z-index:1002; left:1%; bottom:1%;}
.xiedai { width:35%; max-width:204px; height:339px; position:fixed; z-index:1003; left:5%; bottom:5%; background:url(../images/xiedai.png) no-repeat; background-size:100% 100%; opacity:0;}
.xiedai ul { width:100%; height:94.2%;}
.xiedai li { float:left; width:26%; height:17%; margin:25% 0 0 8%; background-position:center center; background-repeat:no-repeat; background-size:100% 100%;
-webkit-transform:rotate(0deg) scale(0);-webkit-transition:all 0.5s ease-in-out 0;}
.xiedai .li1 { background-image:url(../images/xiedai_1.png);}
.xiedai .li2 { float:right; background-image:url(../images/xiedai_2.png); margin:25% 11% 0 0;}
.xiedai .li3 { background-image:url(../images/xiedai_3.png); margin-top:26%; clear:both;}
.xiedai .li4 { float:right; background-image:url(../images/xiedai_4.png); margin:26% 11% 0 0;}
.xiedai .li5 { background-image:url(../images/xiedai_5.png); margin-top:26%; clear:both;}
.xiedai .li6 { float:right; background-image:url(../images/xiedai_6.png); margin:26% 11% 0 0;}
.xiedai .active {-webkit-transform:rotate(720deg) scale(1);}

.address_search { width:100%; height:86px; line-height:86px; color:#b3b3b3; font-size:1.2em; text-align:left; text-indent:12%; background:url(../images/address_search.gif) no-repeat; background-size:100% 100%;}
.address_search input { width:73%; height:64%; border:0; background:none;}
.address_list { width:100%; text-align:left;}
.address_list dl { float:left; width:100%; padding-bottom:5em;}
.address_list dt { float:left; width:100%; height:64px; line-height:64px; background:url(../images/address_li.gif) 0 0 repeat-x; background-size:auto 100%; text-indent:4%; color:#fff; font-size:1.5em; font-weight:bold; text-shadow:1px 1px 1px #605f60;}
.address_list dt .icon { float:right; margin-right:8%; width:5%; height:100%; background:url(../images/address_icon1.png) center center no-repeat; background-size:100% auto;}
.address_list dt .icon_on { background-image:url(../images/address_icon2.png);}
.address_list dd { float:left; width:100%; display:none;}
.address_list dd li { float:left; width:92%; padding:5px 4%; border-bottom:2px solid #e0e0e0; background:#fff; color:#4c4948; font-size:1em;}
.address_list dd li strong { color:#174b59; font-size:1.4em; font-weight:bold;}


.bigpic { width:100%; height:100%; text-align:center; position:fixed; z-index:1005; top:0; display:none;}
.bigpic div { width:100%; height:100%; display:table-cell; text-align:center; vertical-align:middle;}
.bigpic img { width:100%; max-height:100%;}

.a_more { color:#3f3f3f; text-shadow:0 0 1px #3f3f3f; border-top:2px solid #bbbdbc; background:#dde2e6; padding:8px 0; width:100%; float:left; text-decoration:none;}
.a_more1 { color:#3f3f3f; text-shadow:0 0 1px #3f3f3f; border-top:2px solid #bbbdbc; background:#f7faf9; padding:8px 0; width:100%; float:left; text-decoration:none;}

.footer_nav { width:100%; height:37px; line-height:37px; background:url(../images/footer_nav.gif) center center repeat-x; background-size:auto 100%; clear:both;}
.footer_nav li { float:left; width:30%; color:#fff; font-weight:bold; text-align:center;}
.footer_nav li:nth-child(2) { width:39%; border-left:1px solid #000; border-right:1px solid #000;}

#index_cont,#xingxiu_cont,#xingxiuc_cont,#redian_cont,#huodong_cont,#dipan_cont
,#mylike_cont,#mytaolun_cont,#myhuodong_cont,#myjifen_cont,#myziliao_cont { display:none; position:relative; z-index:2;}
#index_cont[selectgkf="true"],#xingxiu_cont[selectgkf="true"],#xingxiuc_cont[selectgkf="true"],#redian_cont[selectgkf="true"],#huodong_cont[selectgkf="true"],#dipan_cont[selectgkf="true"]
,#mylike_cont[selectgkf="true"],#mytaolun_cont[selectgkf="true"],#myhuodong_cont[selectgkf="true"],#myjifen_cont[selectgkf="true"],#myziliao_cont[selectgkf="true"] { display:block;}
