@charset "utf-8";
/* CSS Document */
@media screen and (max-device-width: 480px){img{max-width:100%;height:auto;}}
body { color:#595757; font-size:100%; line-height:150%; text-align:center; background:#f0f0f0;}
ul,li { list-style-type:none;}

.cont {}
.pagenum { width:100%; position:absolute; top:90%; text-align:right;}
.pagenum ul { width:120px; margin:0 auto;}
.pagenum li { float:left; width:10px; height:10px; background:url(../images/point.png) no-repeat; margin:0 5px;}
.pagenum .curr { background:url(../images/point1.png) no-repeat;}





.ui-page { margin:0; padding:0; border:0;}
.ui-header { margin:0; padding:0; border:0;}
.ui-content { margin:0; padding:0; border:0; position:relative;}
.ui-footer { margin:0; padding:0; border:0;}
